<div th:fragment="navigation">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/biography">Biography</a>
        <a class="p-2 text-muted" href="/work_experience">Work experience</a>
        <a class="p-2 text-muted" href="/education">Education</a>
        <a class="p-2 text-muted" href="/technologies">Technologies</a>
        <a class="p-2 text-muted" href="/projects">Projects</a>
        <a class="p-2 text-muted" href="/contacts">Contacts</a>
    </nav>
</div>